/* .box-input{
    background-color: brown;
    border-radius: 8px;
} */
.custom-autocomplete {
  background-color: #105193;
  /* Background color for the input */
  border-radius: 8px;
}

.custom-autocomplete .MuiOutlinedInput-root {
  background-color: #139c4a;
  /* Ensures consistency for the input */
}

.custom-autocomplete li {
  background-color: #0e3d6c;
  /* Background for dropdown options */
}

.custom-autocomplete li:hover {
  background-color: #520e21;
  /* Optional: hover effect */
}

.box-input .MuiOutlinedInput {
  border-radius: 20px;
  /* Apply border-radius to the outer wrapper */
}

.box-input .MuiInputBase-input {
  border-radius: 20px;
  /* Apply border-radius to the input field */
}

.admin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.drop-row1,
.drop-row2,
.drop-row3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.box-input {
  width: 15vw;
  margin: 20px 20px 20px 0px;
}

.css-mrp3ap-MuiFormControl-root-MuiTextField-root {
  display: flex !important;
  /* Force overrides */
  flex-direction: column !important;
  margin: 0 !important;
  border: none !important;
}

.newSubject {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addsubjectButton {
  width: 134px;
  height: 40px;
  background-color: #8E198F !important;
  color: #F8FAFC !important;
}

.createPlanButton {
  background-color: #184574 !important;
}